/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

/**************** INDEX****************/
/* 
1 - TEXT
2 - BUTTONS AND ICONS 
3 - NAVBAR
4 - IMAGES 
5 - BUTTONS AND ICONS 
6 - MEDIA QUERY
 */

/* 1 -  **********************************TEXT******************************** */


/* 1 - ***********************************TEXT END******************************************/

/* 2 - **********************************BUTTONS AND ICONS******************************** */


/* 2 - **********************************BUTTONS AND ICONS END*********************************/

/* 3 - **********************************NAVBAR******************************** */

 /***********************************NAVBAR END******************************** */
 
 /* 4 - **********************************IMAGES*********************************/

/* .coconut {
  width: 43%;
} */

.profile {
  display: inline-block;
}

.tabs .indicator {
  background-color: white;
  /*Custom Color Of Indicator*/
}





 /* 4 - **********************************IMAGES END*********************************/
 
/* 5 - **********************************FOOTER************************************* */

/* 5 - **********************************FOOTER END*********************************/
 





 /************************* MEDIA QUERYES************************************* */

/*************************MEDIA QUERYES END************************************* */
